.main{
	background-color:white;
}
.main svg{
	fill:black;
	stroke-width: 2;
	transition: .15s ease;
	opacity: 1;
}
.username{
	color:black;
}
.main:hover{
		background-color:#ededed;
}
.main:hover svg{
	opacity: 1;
	translate: 4px 0;
}