.formContainer{
    display: flex;
    flex-direction: column;
    order:2;
    gap: 16px;
    border-radius: 8px;
}
.imgContainer{position:relative;width:290px;height:290px}

.mainContainer{
    min-width: 702px;
    height: fit-content;
    position:relative;
    background:#FFFFFF;
    padding: 24px;
    order:2;
    display:flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:8px;
}
.formHeader{
    display: inline-flex;
    align-items:center;
}
.titleHeader{
    margin-bottom: 8px;
    font-size: 22.65px;
    color:#474747;
    text-transform: uppercase;
}
.subTitleHeader{
    color:#979797;
    font-weight: 400;
    font-size: 14px;
}
.form{
    gap: 16px;
    display:flex;
    flex-direction:column;
}
.inputText{
    border-radius: 8px;
    padding: 12px;
    transition: .15s ease;
    border: 1px solid #B8B8B8;
}
.inputText:focus{
    outline: none;
    padding-left: 16px;
    border: 1px solid #5057EE;
}
.inputText::placeholder{
    font-size:14px;
}
.registrationSection{
    text-align: center;
    margin-bottom: 16px;
}
.registrationButton{
    position:relative;
}
.registrationButton::before{
    content:"";
    display:inline-block;
    position:absolute;
    top: 50%;
    background-color: rgb(144, 144, 144);
    right:100%;
    height: 1px;
    width: 100%;
}
.registrationButton::after{
    content:"";
    display:inline-block;
    position:absolute;
    top: 50%;
    background-color: rgb(144, 144, 144);
    right:-100%;
    height: 1px;
    width: 100%;
}
.main{
    padding: 0 24px;
    justify-content:center;
    align-items:center;
}

@media all and (max-width:662px){
    .formContainer{
        gap:24px;
    }
    .form{
        gap:16px;
    }
    .main{
        padding: 8px;
        justify-content: stretch;
        align-items: baseline;
    }
    .mainContainer{
        min-width: 100%;
        padding: 16px;
        box-shadow:rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        flex-direction: column;
    }
    .imgContainer{
        margin: 0 auto;
    }
}
@media all and (max-width:400px){
    .formHeader{
        margin-bottom: 16px;
    }
    .mainContainer{height: 100%}
    .form{
        height: min(100%);
    }
    .formContainer{
        height: 100%
    }
    .imgContainer{
        width: 160px;
        margin: 0 auto;
        height: 160px;
    }
    .mainContainer{
        padding: 8px;
    }
}