@keyframes an{
	0%{opacity: 0;
		translate: -5px 0;
	}
	100%{
		opacity: 1;
		translate: 0px 0}
}

.headerTitle{
	color:black;
	animation: an .15s ease;
}
.header nav ul li{
	color:white;
}


