.element{
	position: relative;
}

.pop{
	opacity: 0;
	pointer-events: all;
	padding: 4px 8px;
	line-height: 12px;
	border-radius: 4px;
	transition: .15s .4s ease;
	position: relative;
}
.pop::before{
	content:"";
	display: inline-block;
	position: absolute;
	background-color:transparent;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 6px solid black;
	bottom:100%;

}
.element:hover .pop{
	opacity: 1; 
	pointer-events:all; }